@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
:root{
--default-font: "Outfit",sans-serif;
--header-font: "Young serif",serif;
}
body{
    background-color: beige;
    width: 1440px;

}
main{
    background-color: white;
    margin: 20rem;
    padding: 2rem;
    border-radius: 2em;
}
img{
    margin: 2rem;
    padding: 1rem;
    width: 650px;
    border-radius: 2em;
}
h1{
    color: hsl(24, 5%, 18%);
}
h2{
    color:rgb(236, 92, 92) ;
}
h3{
    color: rgb(107, 10, 107);
}
.preptime{
    background-color: hsl(30, 54%, 90%);
    border-radius: 1em;
    padding: 1em 1.5em;
    line-height: 2em;
}
.ingred{
    line-height: 2em;
}
h1,h2{
    font-family: var(--header-font);
}
h3,ul,ol,p{
    font-family: var(--default-font);
}

